<%- include('partials/nav.ejs'); -%>

<section class="about">

   <div class="row">

      <div class="image">
         <img src="images/about-img.svg" alt="">
      </div>

      <div class="content">
         <h3>why choose us?</h3>
         <p>
            Choose our online exam preparation web app for a comprehensive learning experience. We offer a wide range of tests, courses, and organizational tools all in one place, help you stay organized and make the most of your study time. 
         </p>
         <a href="/courses" class="inline-btn">our courses</a>
      </div>

   </div>

   <div class="box-container">

      <div class="box">
         <i class="fas fa-graduation-cap"></i>
         <div>
            <h3>+8</h3>
            <p>online courses</p>
         </div>
      </div>

      <div class="box">
         <i class="fa-solid fa-list-check"></i>
         <div>
            <h3>+8</h3>
            <p>Tests</p>
         </div>
      </div>

      <div class="box">
         <i class="fa-solid fa-user-graduate"></i>
         <div>
            <h3>+40</h3>
            <p>Briants students</p>
         </div>
      </div>



   </div>

</section> 

<section class="reviews">

   <h1 class="heading">student's reviews</h1>

   <div class="box-container">

      <div class="box">
         <p>
            Overall, the wide range of courses available on the e-learning site is impressive and demonstrates a commitment to providing accessible and comprehensive learning opportunities. It's exciting to know that you were able to find courses that meet your needs and that you can embark on your learning journey with confidence and enthusiasm. Enjoy exploring the courses and the knowledge they have to offer!
         </p>
         <div class="student">
            <img src="images/pic-5.jpg" alt="">
            <div>
               <h3>john deo</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>
            Furthermore, the variety of courses on the e-learning site indicates that it recognizes the multidimensional nature of knowledge acquisition. Instead of focusing solely on one area, the platform provides opportunities for learners to explore and engage with different disciplines. This breadth of courses encourages intellectual curiosity, fosters interdisciplinary thinking, and promotes a well-rounded education.
          </p>
         <div class="student">
            <img src="images/pic-6.jpg" alt="">
            <div>
               <h3>john deo</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>
            That's fantastic! The extensive selection of courses offered on the e-learning site truly impressed you. The platform seems to have a vast array of disciplines covered, ensuring that learners of all backgrounds and interests can find suitable classes. The range of difficulty levels, spanning from beginner to advanced, indicates that there are opportunities for learners at various stages of their educational journey.
         </p>
         <div class="student">
            <img src="images/pic-7.jpg" alt="">
            <div>
               <h3>john deo</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

   </div>

</section>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>