<%- include('partials/nav.ejs'); -%>
    <section class="comments">
        <h1 class="heading">Assignment01: </h1>
    
        <form action="" class="add-comment">
        <h3 class="title">1. Title: Set the title of the web page to the title of your favorite book.<br><br>
           2. Heading: Add a heading element that displays the title of the book.<br><br>
           3. Image: Include an image of the book cover.<br><br>
           4. Description: Write a paragraph or two describing the book, its plot, and why you enjoy it.<br><br>
           5. Author: Display the name of the author.<br><br>
           6. Publication Date: Show the publication date of the book.<br><br>
           7. Purchase Link: Add a link that directs users to a website where they can purchase the book.<br><br>

        </h3>
       
       
       
        
        <!-- <div class="code-block">
            <pre>
            <code class="javascript">
                // Exemple de code JavaScript
                function maFonction() {
                console.log("Bonjour, monde !");
                }

    
            </code>
            </pre>
        </div> -->
        
    
    
    
        </form>
    
    </section>
  
<script src="js/script.js"></script>

</body>
</html>
    