<%- include('partials/nav.ejs'); -%>
    <section class="comments">
        <h1 class="heading">Assignment03:</h1>
    
        <form action="" class="add-comment">
        <h3 class="title">1.Create two variables named Number One and Number Two in the correct way and criteria for naming variables</h3>
        <br>
        <h3 class="title">2.The first variable has a value of 10 and the data type is Number</h3>
        <br>
        <h3 class="title">3. The second variable has a value of 20 and the data type is Number</h3>
        <br>
        <h3 class="title">4. On the first line, print the result 1020 in the console using the normal Concatenate method<br>
            In the second line, print data type 1020 in the console using the normal Concatenate method<br>
            In the third line, print the result 1020 in the console using Template Literals in the Concatenate work<br>
            In the fourth line, print the data type 1020 in the Console using the Template Literals in Concatenate work.<br>
            In the fifth and sixth lines, without repeating the console.log, print the number 20 and below it the number 10 using the regular Concatenate<br>
            In the seventh and eighth line, without repeating the console.log, print the number 20 and below it the number 10 using the Template Literals<br></h3>
        <br>
        
    
        <div class="code-block">
            <pre>
            <code class="javascript">
                // Add Variables Here

                // Ouput
                console.log("Add Code Here"); // Normal Concatenate => 1020
                console.log("Add Code Here"); // Normal Concatenate => String
                console.log("Add Code Here"); // Template Literals Way => 1020
                console.log("Add Code Here"); // Template Literals Way => String
                
                console.log("Add Code Here");
                /*
                  Normal Concatenate
                  20
                  10
                */
                
                console.log("Add Code Here");
                /*
                  Template Literals Way
                  20
                  10
                */

    
            </code>
            </pre>
        </div>
        <br>
        
    
        </form>
    
    </section>
  
<script src="js/script.js"></script>

</body>
</html>
    