<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/4896715.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Get Educated Online</h2>
    <h3>A platform created in a goal to enhance the grades of students.</h3>
    <a href="/profile" class="btn">View Courses</a>
  </div>
</header>


<%- include('partials/footer.ejs'); -%>
