<%- include('partials/nav.ejs'); -%>

<section class="playlist-details">

   <h1 class="heading">playlist details</h1>

   <div class="row">

      <div class="column">
   
         <div class="thumb">
            <img src="images/thumb-3.png" alt="">
            <span>06 videos</span>
         </div>
      </div>
      <div class="column">
         <div class="tutor">
            <img src="images/pic-2.jpg" alt="">
            <div>
               <h3>elzero web school</h3>
               <span>21-10-2022</span>
            </div>
         </div>
   
         <div class="details">
            <h3>complete JS tutorial</h3>
            <p>Fun fact: JavaScript (JS) is used on almost all websites — JS is a powerful programming language that allows you to add interactivity and dynamic functionality to web pages. With JavaScript, you can create responsive menus, validate form inputs, display pop-up messages, animate elements, fetch data from servers, and much more. It plays a crucial role in enhancing the user experience and making websites more interactive and engaging.</p>
            <a href="#html" class="inline-btn">Get Started!</a>
         </div>
      </div>
   </div>

</section>

<section class="playlist-videos" id="html">

   <h1 class="heading">playlist videos</h1>

   <div class="box-container">

      <a class="box" href="/watch-videojs">
         <i class="fas fa-play"></i>
         <img src="images/post-3-1.png" alt="">
         <h3>complete JS tutorial (part 01)</h3>
      </a>

      <a class="box" href="/watch-videojs">
         <i class="fas fa-play"></i>
         <img src="images/post-3-2.png" alt="">
         <h3>complete JS tutorial (part 02)</h3>
      </a>

      <a class="box" href="/watch-videojs">
         <i class="fas fa-play"></i>
         <img src="images/post-3-3.png" alt="">
         <h3>complete JS tutorial (part 03)</h3>
      </a>

      <a class="box" href="/watch-videojs">
         <i class="fas fa-play"></i>
         <img src="images/post-3-4.png" alt="">
         <h3>complete JS tutorial (part 04)</h3>
      </a>

      <a class="box" href="/watch-videojs">
         <i class="fas fa-play"></i>
         <img src="images/post-3-5.png" alt="">
         <h3>complete JS tutorial (part 05)</h3>
      </a>

      <a class="box" href="/watch-videojs">
         <i class="fas fa-play"></i>
         <img src="images/post-3-6.png" alt="">
         <h3>complete JS tutorial (part 06)</h3>
      </a>

   </div>

</section>

<!-- custom js file link  -->
<script src="js/script.js"></script>

   
</body>
</html>