<%- include('partials/nav.ejs'); -%>

<section class="playlist-details">

   <h1 class="heading">playlist details</h1>

   <div class="row">

      <div class="column">
   
         <div class="thumb">
            <img src="images/thumb-2.png" alt="">
            <span>06 videos</span>
         </div>
      </div>
      <div class="column">
         <div class="tutor">
            <img src="images/pic-2.jpg" alt="">
            <div>
               <h3>elzero web school</h3>
               <span>21-10-2022</span>
            </div>
         </div>
   
         <div class="details">
            <h3>complete CSS tutorial</h3>
            <p>Fun fact: Tous les sites web utilisent CSS — CSS (Cascading Style Sheets) permet de donner du style et de la mise en forme aux pages web. Grâce à CSS, vous pouvez contrôler les couleurs, les polices, les marges, les positions et bien plus encore pour rendre vos pages web attrayantes et esthétiques.</p>
            <a href="#html" class="inline-btn">Get Started!</a>
         </div>
      </div>
   </div>

</section>

<section class="playlist-videos" id="html">

   <h1 class="heading">playlist videos</h1>

   <div class="box-container">

      <a class="box" href="/watch-videoc">
         <i class="fas fa-play"></i>
         <img src="images/post-2-1.png" alt="">
         <h3>complete CSS tutorial (part 01)</h3>
      </a>

      <a class="box" href="/watch-videoc">
         <i class="fas fa-play"></i>
         <img src="images/post-2-2.png" alt="">
         <h3>complete CSS tutorial (part 02)</h3>
      </a>

      <a class="box" href="/watch-videoc">
         <i class="fas fa-play"></i>
         <img src="images/post-2-3.png" alt="">
         <h3>complete   CSS tutorial (part 03)</h3>
      </a>

      <a class="box" href="/watch-videoc">
         <i class="fas fa-play"></i>
         <img src="images/post-2-4.png" alt="">
         <h3>complete CSS tutorial (part 04)</h3>
      </a>

      <a class="box" href="/watch-videoc">
         <i class="fas fa-play"></i>
         <img src="images/post-2-5.png" alt="">
         <h3>complete CSS tutorial (part 05)</h3>
      </a>

      <a class="box" href="/watch-videoc">
         <i class="fas fa-play"></i>
         <img src="images/post-2-6.png" alt="">
         <h3>complete CSS tutorial (part 06)</h3>
      </a>

   </div>

</section>

<!-- custom js file link  -->
<script src="js/script.js"></script>

   
</body>
</html>