<%- include('partials/nav.ejs'); -%>

<section class="teacher-profile">

   <h1 class="heading">profile details</h1>

   <div class="quiz-app">
      <div class="quiz-info">
        <div class="category">Category: <span>React</span></div>
        <div class="count">Questions Count: <span></span></div>
      </div>
      <div class="quiz-area"></div>
      <div class="answers-area"></div>
      <button class="submit-button">Submit Answer</button>
      <div class="bullets">
        <div class="spans"></div>
        <div class="countdown"></div>
      </div>
      <div class="results" ></div>
    </div>

</section>

<!-- custom js file link  -->
<script src="js/script.js"></script>
<script src="js/reactquiz.js"></script>

   
</body>
</html>