<%- include('partials/nav.ejs'); -%>

<section class="teachers">

   <h1 class="heading">Assignments</h1>

   <div class="box-container">
      <div class="box">
         <div class="tutor">
            <img src="images/thumb-1.png" alt="">
            <div>
                  <h3>HTML Assignments</h3>
                  <span>4 Assignments</span>
            </div>
         </div>
         <p>Lessons From : <span>01</span></p>
         <p>Lessons To : <span>05</span></p>
         <!-- <p>total likes : <span>1208</span></p> -->
         <a href="/assignmnt" class="inline-btn">Get Started</a>
      </div>

      <div class="box-container">
         <div class="box">
            <div class="tutor">
               <img src="images/thumb-2.png" alt="">
               <div>
                     <h3>CSS Assignments</h3>
                     <span>4 Assignments</span>
               </div>
            </div>
            <p>Lessons From : <span>01</span></p>
            <p>Lessons To : <span>05</span></p>
            <!-- <p>total likes : <span>1208</span></p> -->
            <a href="/assignmnt" class="inline-btn">Get Started</a>
         </div>
      </div>
      <div class="box-container">
         <div class="box">
            <div class="tutor">
               <img src="images/thumb-3.png" alt="">
               <div>
                     <h3>JS Assignments</h3>
                     <span>4 Assignments</span>
               </div>
            </div>
            <p>Lessons From : <span>01</span></p>
            <p>Lessons To : <span>05</span></p>
            <!-- <p>total likes : <span>1208</span></p> -->
            <a href="/assignjs" class="inline-btn">Get Started</a>
         </div>


      


  
   </div>
</section>



<section class="teachers">

   <h1 class="heading">Our Quizzes</h1>

   <div class="box-container">

      <div class="box offer">
         <h3>HTML quiz</h3>
         <p>Start test.</p>
         <a href="/quizhtml" class="inline-btn">get started</a>
      </div>

      <div class="box offer">
         <h3>CSS quiz</h3>
         <p>Start test..</p>
         <a href="/quizcss" class="inline-btn">get started</a>
      </div>

      <div class="box offer">
         <h3>JS quiz</h3>
         <p>Start test.</p>
         <a href="/quizjs" class="inline-btn">get started</a>
      </div>

      <div class="box offer">
         <h3>Boostrap quiz</h3>
         <p>Start test.</p>
         <a href="/quizb" class="inline-btn">get started</a>
      </div>

      <div class="box offer">
         <h3>JQuery quiz</h3>
         <p>Start test.</p>
         <a href="/quizjq" class="inline-btn">get started</a>
      </div>

      <div class="box offer">
         <h3>SASS  quiz</h3>
         <p>Start test.</p>
         <a href="/quizsass" class="inline-btn">get started</a>
      </div>

      <div class="box offer">
         <h3>PHP quiz</h3>
         <p>Start test.</p>
         <a href="/quizphp" class="inline-btn">get started</a>
      </div>


      <div class="box offer">
         <h3>react quiz</h3>
         <p>Start test.</p>
         <a href="/quizreact" class="inline-btn">get started</a>
      </div>

   </div>

</section>


<!-- custom js file link  -->
<script src="js/script.js"></script>
</body>
</html>